@using MusicOrganizer.Models;
@using System.Collections.Generic;


<form action="/artist/index" method="post">
    <label for="artist">Enter artist below</label>
    <input id="artist" name="artist" type="text"/>
    <button type="submit">Save Artist</button>
</form>